.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
}

.videoSobre .container{
    display: flex;
}

.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
}

.videoSobre-list{
    flex-grow: 1;
    width: 10%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap;
    height: 255px;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/*mobile*/
@media(max-width: 768px){
    .cabecalhoPrincipal .container{
        display: initial;
        text-align: center;
    }

    .cabecalhoPrincipal-nav{
        flex-direction: column;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

    .conteudoPrincipal-cursos{
        display: initial;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
    }

    .videoSobre .container{
        flex-direction: column;
    }

    .rodapePrincipal-navMap-list{
        height: auto;
    }

    .rodapePrincipal-contatoForm{
        width: 100%;
    }

    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
}